<h2>Number Of Tickets Closed After 72 Hours of Creation</h2>
<p>Pallabita Ghosh - <%= @tickets["PALLABITA GHOSH"] %></p>
<p>Rimi Kundu - <%= @tickets["Rimi Kundu"] %></p>
<p>Sarnali Haldar - <%= @tickets["Sarnali Haldar"] %></p>
