<h3><%= @agent_name %></h3>
<% if @note!=nil%>
    <h4>Note: <%= @note %></h4><hr><br>
<% else %>
    <hr><br>
<% end %>
<!-- <a href="https://0835-49-37-10-9.ngrok-free.app/" -->
<%= render html: @content.html_safe%>
