<!-- app/views/tickets/index.html.erb -->

<h1>Tickets</h1>

<% if @tickets.present? && @tickets["data"].present? %>
  <ul>
    <% @tickets["data"].each do |ticket| %>
      <li>Ticket Number: <%= ticket["ticketNumber"] %></li>
      <li>Email: <%= ticket["email"] %></li>
      <li>Subject: <%= ticket["subject"] %></li>
    <% end %>
  </ul>
<% else %>
  <p>No tickets found.</p>
<% end %>
