Gyanprakash Pandey   gyanprakash@thejaingroup.com
Bidesh Sill   bidesh@thejaingroup.com
Bidisha Banerjee  bidisha@thejaingroup.com
Shristi Chakraborty   legal5@thejaingroup.com
Yash Sodhani   yash@thejaingroup.com
Santanu Goswami  dgm.project@thejaingroup.com
Aniruddha Ray   engineer3@thejaingroup.com
Shanoli Mondal   sales.exotica1@thejaingroup.com
Subrata Das   sales.dreamecocity2@thejaingroup.com
SUPARNO GHOSH   sales.dreamone1@thejaingroup.com
Anirban Banerjee   sales.dwc3@thejaingroup.com
Ankur Patwari   sm.sales4@thejaingroup.com
Anuradha Pramanik   sales.dreamone3@thejaingroup.com
Dhiraj Singh   sm.sales2@thejaingroup.com
Dipayan Sengupta   channel.sales@thejaingroup.com
Megha Baraily   sales.dreamvalley2@thejaingroup.com
Nakhyastra Ghosh   sm.sales@thejaingroup.com
Nirupam Roy   sales.dreamgurukul6@thejaingroup.com
Prasenjit Sarkar   sales.dreamvalley1@thejaingroup.com
Rittik Ghosh   sales.dreamecocity1@thejaingroup.com
Subhajit Patra   sales.dreampalazzo@thejaingroup.com
Sumit Sing   sales.dreamgurukul4@thejaingroup.com
Surajit Pal   sales.dreamgurukul1@thejaingroup.com
Sudipta Poddar   sales.dreamgurukul2@thejaingroup.com
Somraj Dutta   sm.sales3@thejaingroup.com
Arnab Dutta   sales.dwc2@thejaingroup.com
Rajat Dutta   sales.dreamgurukul3@thejaingroup.com
Abhijit Sarkar   sales.dreamgurukul5@thejaingroup.com
Rony dwc@thejaingroup.com
Sanjib Paul system2.thejaingroup@gmail.com
Saikat Manna   system3.thejaingroup@gmail.com
Aniket Biswas  system4@thejaingroup.com
Ayush Ruia  system.admin@thejaingroup.com
Dipak Pramanik  system1@thejaingroup.com
Suvankar Dam  legal1@thejaingroup.com
Poulomi Saha  poulomi@thejaingroup.com
Shantanu Naskar  projectmanager1@thejaingroup.com
Sk Janmahammad  janmahammad@thejaingroup.com